{% load static %}

<div class="card mb-2 position-relative" style="min-height: 140px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        {% include "components/carousel.html" %}
      </div>
      <div class="col-md-6 position-relative">
        <div class="card-body">
          <h5 class="card-title">{{ property.address }}</h5>
          <p class="card-text">{{ property.description }}</p>
          <a href="/property/{{property.id}}/" class="stretched-link"></a>
        </div>
      </div>
    </div>
  </div>