{% include "components/navbar.html" %}

<body>
    <div class="row p-5">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-center">
                <div class="row p-5">
                    <h3>Here is the login_portal page!</h3>
                    <fieldset>
                        <form method="post">
                            {% csrf_token %}
                            <label for="user_email">Email:</label><br>
                            <input type="text" id="user_email" name="user_email" required><br>
                            <label for="user_password">Password:</label><br>
                            <input type="password" id="user_password" name="user_password" required><br>
                            <br>
                            <input type="submit" value="Submit">
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</body>