@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Blackout;
  src: url("../fonts/Inter.ttf") format("truetype");
}

/* GLOBAL STYLES HERE FOR THE ENTIRE APP */
body {
  background-color: gray;
  font-family: "Inter", sans-serif;
}
/* Just placed this here to help see the background of each component */
