:root {
    --colour1: #03045E;
    --colour2: #08118d;
    --colour3: #00B4D8;
    --colour4: #90E0EF;
    --colour5: #CAF0F8;
}

.site-nav {
    background-color: var(--colour2);
    padding-left: 100px;
    padding-right: 100px;
}

.nav-item {
    color: white;
    font-weight: bold;
}